<% include ./partials/header.ejs %>
<div class="w-full h-screen flex items-center justify-center bg-[url(/images/mymind-tZCrFpSNiIQ-unsplash.jpg)] bg-center bg-cover bg-no-repeat ">
    <div class="h-[70vh] w-[26vw]  px-15 py-10 rounded-[30px] bg-white shadow-lg" >
        <h1 class="text-3xl mb-5 capitalize font-semibold text-zinc-700 text-center tracking-tighter leading-none ">Welcome to YOURinterest.</h1>
        <form class="px-4 py-5" action="/login" method="post">
            <label class="px-2 py-0">Username</label>
            <input class="border-1 rounded-xl block mb-2 w-full px-3 py-2 bg-white" type="text" name="username" placeholder="Username">
            <label class="px-2 py-0">Password</label>
            <input class="border-1 rounded-xl block mb-2 w-full px-3 py-2 bg-white" type="password" name="password" placeholder="Password">
            <a class="tracking-tight mt-2 text-zinc-600 text-sm font-semibold inline-block" href="#">Forgot your password ?</a>
            <input class="border-1 rounded-full block mt-2 text-white w-full px-3 py-1 bg-red-600 rounded-4xl" type="submit" value="Log in">
            
        </form>
        <p class="text-zinc-400 text-center text-xs">
            By continuing, you agree to Yourinterest's Terms of Service and acknowledge you've read our Privacy Policy. Notice at collection.
        </p>
     
        <a class="inline-block text-zinc-700 w-full text-xs text-center items-center font-semibold" href="/register">Not on Pinterest yet? Sign Up</a>
    </div>

</div> 

<% include ./partials/footer.ejs %>
